---
import ButtonMain from "@components/base/ButtonMain.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";
import { Image } from "astro:assets";
import Hero from '../../../public/img/illustrations/doctor-hero.png' 
import Modal from "@components/content/Modal.astro";
---

<div
  class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000"
>
  <div class="min-h-screen w-full max-w-7xl mx-auto flex items-center px-4">
    <div class="w-full grid grid-cols-12">
      <div class="col-span-12 ltablet:col-span-5 lg:col-span-5">
        <div
          class="h-full ptablet:max-w-lg ptablet:mx-auto flex items-center mb-8 ltablet:mb-0 lg:mb-0"
        >
          <div
            class="text-center ltablet:text-left lg:text-left font-sans space-y-4 pt-14 font-light"
          >
            <p
              class="font-medium leading-[50px] text-3xl ptablet:text-4xl lg:text-[56px] mt-12 lg:mt-1 mb-8 text-muted-800 dark:text-white uppercase"
            >
            Комплексная медицина
            </p>
            <h1
              class="font-medium text-2xl ptablet:text-3xl lg:text-3xl text-muted-800 dark:text-white"
            >
            Оснащение медицинских центров
            </h1>
            <p class="text-sm md:text-lg text-muted-500 dark:text-muted-400">
              Оснащение клиник и больниц "под ключ" — томографы, УЗИ, рентген-аппараты и расходные материалы от ведущих мировых брендов. Гарантия качества, профессиональный сервис и доставка по всей России.
            </p>
            <div
              class="w-full flex items-center justify-center ltablet:justify-start lg:justify-start gap-2"
            >
              <Modal name="Главный экран"/>
            </div>
          </div>
        </div>
      </div>
      <div class="relative col-span-12 ltablet:col-span-7 lg:col-span-7">
        <Image src={Hero}
        loading="eager" 
        class="block w-full ltablet:max-w-[540px] max-w-[620px] mx-auto pr-8"
        alt="Hero image"/>
        <!-- Decoration -->
        <div
          class="absolute top-6 left-0 h-14 w-14 hidden md:flex items-center justify-center rounded-full text-2xl bg-white dark:bg-muted-800 shadow-xl shadow-muted-300/30 dark:shadow-muted-900/50"
        >
        🩺
        </div>
        <div
          class="absolute top-32 left-24 h-12 w-12 hidden md:flex items-center justify-center rounded-full text-2xl bg-white dark:bg-muted-800 shadow-xl shadow-muted-300/30 dark:shadow-muted-900/50"
        >
          📦
        </div>
        <div
          class="absolute -bottom-10 right-0 h-16 w-16 hidden md:flex items-center justify-center rounded-full text-4xl bg-white dark:bg-muted-800 shadow-xl shadow-muted-300/30 dark:shadow-muted-900/50"
        >
          💉
        </div>
        <div
          class="absolute -top-12 left-1/3 h-16 w-16 hidden ptablet:hidden md:flex items-center justify-center rounded-full text-4xl bg-white dark:bg-muted-800 shadow-xl shadow-muted-300/30 dark:shadow-muted-900/50"
        >
        🖥️
        </div>
        <HeroMainModuleOne />
      </div>
    </div>
  </div>
</div>
