---
import { Image } from "astro:assets";
import med1 from "../../pic/med1.jpg";
import med2 from "../../pic/med2.jpg";
import med3 from "../../pic/med3.jpg";
---
<div class="relative w-full max-w-sm mx-auto space-y-4">
  <!--Background shape-->
  <div
    class="absolute top-0 -left-10 ptablet:-left-32 h-[480px] w-[480px] rotate-45 mask mask-hexed bg-primary-100 dark:bg-primary-500/5 z-0"
  >
  </div>

  <!--Item-->
  <div
    class="relative -left-8 ptablet:-left-16 z-10 w-full p-2 rounded-xl bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 shadow-xl shadow-muted-400/10 dark:shadow-muted-800/10"
  >
  <Image class="rounded-md" src={med1} alt="med1" />
  </div>
  <!--Item-->
  <div
    class="relative -right-8 ptablet:right-0 z-10 w-full p-2 rounded-xl bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 shadow-xl shadow-muted-400/10 dark:shadow-muted-800/10"
  >
    
  <Image class="rounded-md" src={med2} alt="med2" />
  </div>
  <!--Item-->
  <div
    class="relative -left-8 ptablet:-left-16 z-10 w-full p-2 rounded-xl bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 shadow-xl shadow-muted-400/10 dark:shadow-muted-800/10"
  >
  <Image class="rounded-md" src={med3} alt="med3" />
  </div>
</div>
