---
import Container from "@components/section/Container.astro";
import Logo from "@components/base/Logo.astro";
---

<footer class="font-sans bg-white dark:bg-muted-900">
  <Container>
    <div class="px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
        <div class="w-full mb-10 ltablet:mb-0 lg:mb-0 ltablet:w-2/6 lg:w-2/6 px-4">
          <div class="max-w-[280px] mx-auto md:mx-0">
            <a
              href="/"
              class="flex items-center justify-center md:justify-start gap-3 mb-4"
            >
              <div class="text-primary-600 transition-all duration-300">
                <Logo class="'w-9 h-9'" />
              </div>
              <span
                class="font-sans text-lg tracking-widest uppercase text-muted-800 dark:text-muted-100"
                >РосСнаб73</span
              >
            </a>
            <p class="text-sm text-muted-500 dark:text-muted-400 mb-10 md:mb-0">
              Оснащение клиник и больниц "под ключ" — томографы, УЗИ, рентген-аппараты и расходные материалы от ведущих мировых брендов.
            </p>
          </div>
        </div>
        <div class="w-full mb-10 ltablet:mb-0 lg:mb-0 ltablet:w-2/6 lg:w-3/6 px-4">
          
          <div class="font-bold text-lg mb-8 dark:text-gray-50">Заказать обратный звонок</div>
            <div class="w-full ltablet:w-auto lg:w-auto flex flex-col md:flex-row items-center justify-center md:justify-start gap-y-2">
            <div class="relative w-full sm:w-64 md:w-40 sm:mr-4 mr-2">
              <input
                type="text"
                class="w-full h-10 bg-muted-100 dark:bg-muted-700 bg-opacity-50 rounded-lg border border-muted-300 dark:border-muted-600 text-sm text-muted-700 py-1 px-3 leading-8 tw-accessibility transition-colors duration-300 ease-in-out"
                placeholder="Имя"
              />
            </div>
            <div class="relative w-full sm:w-64 md:w-40 sm:mr-4 mr-2">
              <input
                type="text"
                class="w-full h-10 bg-muted-100 dark:bg-muted-700 bg-opacity-50 rounded-lg border border-muted-300 dark:border-muted-600 text-sm text-muted-700 py-1 px-3 leading-8 tw-accessibility transition-colors duration-300 ease-in-out"
                placeholder="+7 999 999 99 99"
              />
            </div>
            <button
              class="w-full md:w-auto h-10 inline-flex items-center justify-center text-white bg-primary-600 border-0 py-2 px-6 focus:outline-none hover:bg-primary-700 rounded-lg"
              >Заказать</button
            >
          </div>
        </div>
        <div class="w-full mb-10 ltablet:mb-0 lg:mb-0 ltablet:w-2/6 lg:w-1/6 px-4">
          <span
          class="inline-flex ltablet:ml-auto lg:ml-auto md:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto"
        >
          <a href="#" class="text-muted-500">
            <iconify-icon class="iconify w-12 h-12 flex items-center justify-center text-3xl" icon="hugeicons:vk"></iconify-icon>
          </a>
          <a href="#" class="ml-3 text-muted-500">
            <iconify-icon class="iconify w-12 h-12 flex items-center justify-center text-3xl" icon="ic:baseline-telegram"></iconify-icon>
          </a>
        </span>
        </div>
      </div>
    </div>
  </Container>

  <div class="bg-muted-100 dark:bg-muted-800">
    <Container>
      <div class="py-4 px-5 flex justify-center flex-col sm:flex-row">
        <p
          class="text-muted-500 dark:text-muted-400 text-sm text-center sm:text-left"
        >
        Не является публичной офертой | © 2018-{new Date().getFullYear()} | Разработка 
          <a
            href="https://kryukovs.ru"
            class="hover:text-primary-500"
            target="_blank"
            rel="noopener noreferrer">kryukovs.ru</a
          >
        </p>
      </div>
    </Container>
  </div>
</footer>
