---
import MockupOne from "@components/mockup/MockupOne.astro";
---

<div
  id="osnas"
  class="flex flex-col md:flex-row items-center py-6"
  x-intersect="activeStep = 'spy-2'"
>
  <!--Column-->
  <div class="w-full md:w-1/2 relative p-6">
    <!--Section content-->
    <div class="w-full max-w-lg space-y-4 lg:pl-10">
      <!--Badge-->
      <h4
        class="font-sans font-semibold text-xs tracking-widest uppercase mb-3 text-primary-500"
      >
        Стандарты
      </h4>
      <!--Title-->
      <h2
        class="font-heading font-medium text-4xl text-muted-800 dark:text-white"
      >
      Оснащение медицинского кабинета
      </h2>
      <!--Subtitle-->
      <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
        Наши специалисты помогут оснастить медицинский кабинет с учетом специализации клиники, возрастной категории пациентов, пожеланий клиента, выделенного бюджета и других требований.
      </p>
      <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
        При оснащении кабинетов мы соблюдаем утвержденные Минздравом стандарты. Это позволяет нашим клиентам проходить процедуру лицензирования в любом городе России.
      </p>
      <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
        Мы также рассчитаем по вашему запросу выгодную систему оснащения кабинета врача в лизинг.
      </p>
    </div>
  </div>

  <!--Column-->
  <div class="w-full md:w-1/2 relative p-6">
    <!--Feature-->
    <MockupOne />
  </div>
</div>
